<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Management</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
        header {
            background: #333;
            color: #fff;
            padding-top: 30px;
            min-height: 70px;
            border-bottom: #77aaff 3px solid;
        }
        header a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
        }
        header ul {
            padding: 0;
            list-style: none;
        }
        .main {
            padding: 20px;
            background: #fff;
            margin-top: 20px;
        }
        .main h1 {
            text-align: center;
        }
        .main ul {
            list-style: none;
            padding: 0;
        }
        .main li {
            background: #f4f4f4;
            margin: 5px 0;
            padding: 10px;
            border: #ccc 1px solid;
            word-wrap: break-word; /* 自动换行 */
        }
        .form-group {
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        .form-group label {
            margin-bottom: 5px;
        }
        .form-group input, .form-group select {
            padding: 8px;
            box-sizing: border-box;
        }
        .form-group button {
            padding: 10px 15px;
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        .form-row {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .tabs {
            display: flex;
            cursor: pointer;
            margin-bottom: 20px;
        }
        .tab {
            padding: 10px 20px;
            background: #f4f4f4;
            border: 1px solid #ccc;
            border-bottom: none;
            transition: background 0.3s;
        }
        .tab:hover {
            background: #ddd;
        }
        .tab.active {
            background: #fff;
            border-bottom: 1px solid #fff;
        }
        .tab-content {
            display: none;
        }
        .tab-content.active {
            display: block;
        }
    </style>
    <script>
        function addDropdown() {
            // const descriptorContainer = document.createElement('div');
            // descriptorContainer.className = 'form-row';

            const descriptorContainer = document.getElementById('descriptor-form-row');

            const addDropdownBtn = document.getElementById('add-dropdown-btn');
            const newDropdownContainer = document.createElement('div');
            newDropdownContainer.className = 'form-group col';

            const newDropdown = document.createElement('select');
            newDropdown.name = 'descriptor';
            newDropdown.className = 'descriptor';
            newDropdown.required = true;
            newDropdown.innerHTML = `
                <option value="port">port</option>
                <option value="ool">ool</option>
            `;

            
            const deleteButton = document.createElement('button');
            deleteButton.type = 'button';
            deleteButton.className = 'btn btn-danger ml-2';
            deleteButton.textContent = '删除';
            deleteButton.onclick = () => {
                newDropdownContainer.remove();
            };

            newDropdownContainer.appendChild(newDropdown);
            newDropdownContainer.appendChild(deleteButton);
            descriptorContainer.appendChild(newDropdownContainer);

            addDropdownBtn.parentNode.insertBefore(descriptorContainer, addDropdownBtn);
}
        function switchTab(event, tabId) {
            const tabs = document.querySelectorAll('.tab');
            const tabContents = document.querySelectorAll('.tab-content');

            tabs.forEach(tab => tab.classList.remove('active'));
            tabContents.forEach(content => content.classList.remove('active'));

            event.currentTarget.classList.add('active');
            document.getElementById(tabId).classList.add('active');

            if (tabId === 'message-list-tab') {
                fetchMessages();
            }

            if (tabId === 'type-list-tab') {
                fetchTypes();
            }

            if (tabId === 'simple-message-tab') {
                fetchDataTypeOptions();
                fetchValueTypes();
            }

            if (tabId === 'complex-message-tab') {
                fetchDataTypeOptions();
                fetchValueTypes();
            }

        }

        function handleDataTypeChange(evnet){
            data_type = event.target.value;
            if (data_type === 'new'){
                addDataType(evnet.target);
            }
        }

        function handleComplexValueTypeChange(event) {
            const valueType = event.target.value.toLowerCase();
            const minField = event.target.closest('.complex-message-body').querySelector('.min-field');
            const maxField = event.target.closest('.complex-message-body').querySelector('.max-field');
            const valueField = event.target.closest('.complex-message-body').querySelector('.value-field');

            console.log(valueType);
            if (valueType === 'range') {
                minField.style.display = 'block';
                maxField.style.display = 'block';
                valueField.style.display = 'none';
            } else if (valueType === 'fix') {
                minField.style.display = 'none';
                maxField.style.display = 'none';
                valueField.style.display = 'block';
            } else if (valueType === 'new') {
                // 把当前select元素传入
                addValueType(event.target);
            } else {
                minField.style.display = 'none';
                maxField.style.display = 'none';
                valueField.style.display = 'block';
            }
        }

        function handleValueTypeChange(event) {
            const valueType = event.target.value.toLowerCase();
            const minField = event.target.closest('.message-body').querySelector('.min-field');
            const maxField = event.target.closest('.message-body').querySelector('.max-field');
            const valueField = event.target.closest('.message-body').querySelector('.value-field');

            if (valueType === 'range') {
                minField.style.display = 'block';
                maxField.style.display = 'block';
                valueField.style.display = 'none';
            } else if (valueType === 'fix') {
                minField.style.display = 'none';
                maxField.style.display = 'none';
                valueField.style.display = 'block';
            } else if (valueType === 'new') {
                addValueType(event.target);
            } else if (valueType === 'Window') {
                minField.style.display = 'none';
                maxField.style.display = 'none';
                valueField.style.display = 'none';
            } else {
                minField.style.display = 'none';
                maxField.style.display = 'none';
                valueField.style.display = 'block';
            }
        }

        function fetchValueTypes() {
            fetch('/value_types')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const valueTypeSelects = document.getElementsByName("value_type");
        
                    valueTypeSelects.forEach(valueTypeSelect => {
                        const existingOptions = Array.from(valueTypeSelect.options).map(option => option.value);

                        data.forEach(type => {
                            if (!existingOptions.includes(type)) {
                                const option = document.createElement('option');
                                option.value = type;
                                option.textContent = type;
                                if (type.toLowerCase() === 'range') {
                                    option.selected = true;
                                }
                                valueTypeSelect.appendChild(option);
                            }
                        });

                        if (!existingOptions.includes('new')) {
                            const newOption = document.createElement('option');
                            newOption.value = 'new';
                            newOption.textContent = '新建';
                            valueTypeSelect.appendChild(newOption);
                        }

                        // 增加change事件监听
                        valueTypeSelect.addEventListener('change', handleValueTypeChange);
                    });
                })
                .catch(error => {
                    console.error('Error fetching types:', error);
                });
        }

        function fetchDataTypeOptions() {
            fetch('/data_types')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const dataTypeSelects = document.getElementsByName("data_type");
        
                    dataTypeSelects.forEach(dataTypeSelect => {
                        const existingOptions = Array.from(dataTypeSelect.options).map(option => option.value);
        
                        data.forEach(type => {
                            if (!existingOptions.includes(type)) {
                                const option = document.createElement('option');
                                option.value = type;
                                option.textContent = type;
                                dataTypeSelect.appendChild(option);
                            }
                        });


                        if (!existingOptions.includes('new')) {
                            const newOption = document.createElement('option');
                            newOption.value = 'new';
                            newOption.textContent = '新建';
                            dataTypeSelect.appendChild(newOption);
                        }

                        // 增加change事件监听
                        dataTypeSelect.addEventListener('change', handleDataTypeChange);
                    });
                })
                .catch(error => {
                    console.error('Error fetching types:', error);
                });
        }

        function updateMessage(messageName) {
            const messageContainers = document.querySelectorAll('.message-container h3');
            let messageContainer = null;

            messageContainers.forEach(container => {
                // 解析出message_name并判断是否与传入的messageName相同
                const name = container.textContent.split(',')[0].split(':')[1].trim();
                if (name === messageName) {
                    messageContainer = container.parentElement;
                }
            });
            if (!messageContainer) {
                alert('未找到消息');
                return;
            }

            // 获取descriptor
            const descriptorContainer = messageContainer.querySelector('.form-row');
            const descriptors = descriptorContainer.querySelectorAll('.descriptor');
            const descriptorValues = [];
            descriptors.forEach(descriptor => {
                descriptorValues.push(descriptor.value);
            });

            let message_bodies = [];
            const messageBodies = messageContainer.querySelectorAll('.message-body');
            const bodies =  messageBodies.forEach(body => {
                const bodyData = {
                    key: body.querySelector('[name="key"]').value,
                    data_type: body.querySelector('[name="data_type"]').value,
                    min: body.querySelector('[name="min"]').value,
                    max: body.querySelector('[name="max"]').value,
                    value: body.querySelector('[name="value"]').value,
                    value_type: body.querySelector('[name="value_type"]').value,
                    length: body.querySelector('[name="data_size"]').value
                };
            message_bodies.push(bodyData);
            });

            const updatedMessage = {
                message_name: messageName,
                descriptor: descriptorValues,
                message_bodies: message_bodies
            };

            fetch(`/message/${messageName}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(updatedMessage)
            })
            .then(response => {
                if (response.ok) {
                    fetchMessages();
                } else {
                    alert('更新消息失败');
                }
            });
        }


        function fetchMessages() {
            fetch('/messages')
        .then(response => response.json())
        .then(messages => {
            const messageList = document.getElementById('message-list');
            messageList.innerHTML = '';
            messages.forEach(message => {
                const messageContainer = document.createElement('div');
                messageContainer.classList.add('message-container');


                const messageHeader = document.createElement('h3');
                messageHeader.textContent = `Message Name: ${message.message_name}, Message ID: ${message.message_id} Send Size: ${message.message_size} Type: ${message.message_type}`;
                messageContainer.appendChild(messageHeader);

                const updateButton = document.createElement('button');
                updateButton.textContent = '更新';
                updateButton.onclick = () => {
                    updateMessage(message.message_name);
                }
                messageContainer.appendChild(updateButton);

                const deleteButton = document.createElement('button');
                deleteButton.textContent = '删除';
                deleteButton.onclick = () => {
                    deleteMessage(message.message_name, messageContainer);
                }
                messageContainer.appendChild(deleteButton);

                // 新增一个按钮，新增dscriptor
                const addDescriptorButton = document.createElement('button');
                addDescriptorButton.textContent = '新增descriptor';
                const descriptorContainer = document.createElement('div');
                descriptorContainer.className = 'form-row';
                addDescriptorButton.onclick = () => {
                    const newDropdownContainer = document.createElement('div');
                    newDropdownContainer.className = 'form-group col';

                    const newDropdown = document.createElement('select');
                    newDropdown.name = 'descriptor';
                    newDropdown.className = 'descriptor';
                    newDropdown.required = true;
                    newDropdown.innerHTML = `
                    <option value="ool" 'selected'}>ool</option>
                    <option value="port">port</option>
                `;
                    const deleteButton = document.createElement('button');
                    deleteButton.type = 'button';
                    deleteButton.className = 'btn btn-danger';
                    deleteButton.textContent = '删除';
                    deleteButton.onclick = () => {
                        newDropdownContainer.remove();
                    };

                    newDropdownContainer.appendChild(newDropdown);
                    newDropdownContainer.appendChild(deleteButton);
                    descriptorContainer.appendChild(newDropdownContainer);

                    // 放在当前按钮之后
                    messageContainer.insertBefore(descriptorContainer, addDescriptorButton.nextSibling);

                };

                messageContainer.appendChild(addDescriptorButton);

                if (message.descriptor) {
                    const descriptorContainer = document.createElement('div');
                    descriptorContainer.className = 'form-row';

                    message.descriptor.forEach(descriptor => {
                        const newDropdownContainer = document.createElement('div');
                        newDropdownContainer.className = 'form-group';

                        const newDropdown = document.createElement('select');
                        newDropdown.name = 'descriptor';
                        newDropdown.className = 'descriptor';
                        newDropdown.required = true;
                        newDropdown.innerHTML = `
                        <option value="ool" ${descriptor === 'ool' ? 'selected' : ''}>ool</option>
                        <option value="port" ${descriptor === 'port' ? 'selected' : ''}>port</option>
                    `;
                        const deleteButton = document.createElement('button');
                        deleteButton.type = 'button';
                        deleteButton.className = 'btn btn-danger';
                        deleteButton.textContent = '删除';
                        deleteButton.onclick = () => {
                            newDropdownContainer.remove();
                        };

                        newDropdownContainer.appendChild(newDropdown);
                        newDropdownContainer.appendChild(deleteButton);
                        descriptorContainer.appendChild(newDropdownContainer);
                    });

                    messageContainer.appendChild(descriptorContainer);
                }


                message.bodies.forEach(body => {
                    const messageBodyTemplate = document.getElementById('message-body-template');
                    const newMessageBody = messageBodyTemplate.content.cloneNode(true);


                    newMessageBody.querySelector('[name="key"]').value = body.key;

                    const dataTypeSelect = newMessageBody.querySelector('[name="data_type"]');
                    fetch('/data_types')
                        .then(response => response.json())
                            .then(data => {
                                data.forEach(type => {
                                    const option = document.createElement('option');
                                    option.value = type;
                                    option.textContent = type;
                                    if (type === body.data_type) {
                                        option.selected = true;
                                    }
                                    dataTypeSelect.appendChild(option);
                                });
                        });

                    const valueTypeSelect = newMessageBody.querySelector('[name="value_type"]');
                    fetch('/value_types')
                        .then(response => response.json())
                            .then(data => {
                                data.forEach(type => {
                                    const option = document.createElement('option');
                                    option.value = type;
                                    option.textContent = type;
                                    if (type === body.value_type) {
                                        option.selected = true;
                                    }
                                    valueTypeSelect.appendChild(option);
                                });
                        });

                    const dataSizeTypeSelect = newMessageBody.querySelector('[name="data_size"]');
                    console.log(body.length);
                    dataSizeTypeSelect.innerHTML = `
                    <option value="1" ${body.length === 1 ? 'selected' : ''}>1</option>
                    <option value="2" ${body.length === 2 ? 'selected' : ''}>2</option>
                    <option value="4" ${body.length === 4 ? 'selected' : ''}>4</option>
                    <option value="8" ${body.length === 8 ? 'selected' : ''}>8</option>
                    `
                    // dataSizeTypeSelect.appendChild(dataSizeOption);

                    const minField = newMessageBody.querySelector('.min-field');
                    const maxField = newMessageBody.querySelector('.max-field');
                    const valueField = newMessageBody.querySelector('.value-field');

                    if (body.value_type.toLowerCase() === 'range') {
                        minField.style.display = 'block';
                        maxField.style.display = 'block';
                        valueField.style.display = 'none';
                        newMessageBody.querySelector('[name="min"]').value = body.min || '';
                        newMessageBody.querySelector('[name="max"]').value = body.max || '';
                    } else if (body.value_type.toLowerCase() === 'window') {
                        minField.style.display = 'none';
                        maxField.style.display = 'none';
                        valueField.style.display = 'none';
                    } else {
                        minField.style.display = 'none';
                        maxField.style.display = 'none';
                        valueField.style.display = 'block';
                        newMessageBody.querySelector('[name="value"]').value = body.value || '';
                    }

                    // 设置button的value， 点击的时候传输
                    newMessageBody.querySelector('.form-group button').setAttribute('message-name', message.message_name);
                    newMessageBody.querySelector('.form-group button').setAttribute('key', body.key);

                    messageContainer.appendChild(newMessageBody);
                });

                messageList.appendChild(messageContainer);
            });
        });
        }

        function deleteMessage(id, messageContainer) {
            fetch(`/message/${id}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    messageContainer.remove();
                } else {
                    console.error('Failed to delete message');
                }
            })
            .catch(error => {
                console.error('Error deleting message:', error);
            });
        }

        function addMessage(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());
            data.message_bodies = [];  // 初始化消息体数组

            const messageBodies = document.querySelectorAll('#simple-message-tab .message-body');
            messageBodies.forEach(body => {
                const bodyData = {
                    key: body.querySelector('[name="key"]').value,
                    data_type: body.querySelector('[name="data_type"]').value,
                    min: body.querySelector('[name="min"]').value,
                    max: body.querySelector('[name="max"]').value,
                    value: body.querySelector('[name="value"]').value,
                    value_type: body.querySelector('[name="value_type"]').value,
                    length: body.querySelector('[name="data_size"]').value
                };
                data.message_bodies.push(bodyData);
            });

            fetch('/message', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(message => {
                const messageList = document.getElementById('message-list');
                const listItem = document.createElement('li');
                listItem.textContent = JSON.stringify(message);
                messageList.appendChild(listItem);
                event.target.reset();
                document.querySelectorAll('.value-type').forEach(select => handleValueTypeChange({ target: select })); // 重置表单时调用一次
            });
        }

        function addComplexMessage(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());
            data.message_bodies = [];  // 初始化消息体数组


            const dropdowns = document.querySelectorAll('.complex-message-body .descriptor');
            const values = [];
            dropdowns.forEach(dropdown => {
                values.push(dropdown.value);
            });
            data.descriptor = values;

            const messageBodies = document.querySelectorAll('.complex-message-body');
            messageBodies.forEach(body => {
                const bodyData = {
                    key: body.querySelector('[name="key"]').value,
                    data_type: body.querySelector('[name="data_type"]').value,
                    min: body.querySelector('[name="min"]').value,
                    max: body.querySelector('[name="max"]').value,
                    value: body.querySelector('[name="value"]').value,
                    value_type: body.querySelector('[name="value_type"]').value,
                    length: body.querySelector('[name="data_size"]').value
                };
                data.message_bodies.push(bodyData);
            });

            fetch('/message', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(message => {
                const messageList = document.getElementById('message-list');
                const listItem = document.createElement('li');
                listItem.textContent = JSON.stringify(message);
                messageList.appendChild(listItem);
                event.target.reset();
                document.querySelectorAll('.complex-value-type').forEach(select => handleComplexValueTypeChange({ target: select })); // 重置表单时调用一次
            });
        }

        function addComplexMessageBody() {
            const messageBodyTemplate = document.getElementById('complex-message-body-template');
            const newMessageBody = messageBodyTemplate.content.cloneNode(true);
            document.getElementById('complex-message-bodies').appendChild(newMessageBody);
            document.querySelectorAll('.complex-message-body .value-type').forEach(select => select.addEventListener('change', handleComplexValueTypeChange));
            fetchDataTypeOptions(); // 添加新的消息体时重新获取数据类型选项
            fetchValueTypes(); // 添加新的消息体时重新获取数据类型选项
        }

        function addSimpleMessageBody() {
            const messageBodyTemplate = document.getElementById('message-body-template');
            const newMessageBody = messageBodyTemplate.content.cloneNode(true);
            document.getElementById('message-bodies').appendChild(newMessageBody);
            document.querySelectorAll('.message-body .value-type').forEach(select => select.addEventListener('change', handleValueTypeChange));
            fetchDataTypeOptions(); // 添加新的消息体时重新获取数据类型选项
            fetchValueTypes();
        }

        function addDataType(selectElement) {
            if (selectElement) {
                const dataType = prompt('请输入新的type:');
                if (dataType) {
                    fetch('/data_type', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ data_type: dataType })
                    })
                    .then(response => {
                        if (response.ok) {
                            const option = document.createElement('option');
                            option.value = dataType;
                            option.textContent = dataType;
                            option.selected = true;
                            selectElement.insertBefore(option, selectElement.querySelector('option[value="new"]'));
                            fetchDataTypeOptions();
                        } else {
                            alert('Failed to add new type');
                        }
                    });
                }
            } else {
                const dataType = prompt('请输入新的type:');
                if (dataType) {
                    fetch('/data_type', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ data_type: dataType })
                    })
                    .then(response => {
                        if (response.ok) {
                            const dataTypeSelects = document.querySelectorAll('[name="data_type"]');
                            dataTypeSelects.forEach(select => {
                                const option = document.createElement('option');
                                option.value = dataType;
                                option.textContent = dataType;
                                // option.selected = true;
                                select.insertBefore(option, select.querySelector('option[value="new"]'));
                            });

                            fetchTypes();
                        } else {
                            alert('Failed to add new type');
                        }
                    });
                }
            }
            // const newDataType = prompt('请输入新的type:');
            // if (newDataType) {
            //     fetch('/data_type', {
            //         method: 'POST',
            //         headers: {
            //             'Content-Type': 'application/json'
            //         },
            //         body: JSON.stringify({ data_type: newDataType })
            //     })
            //     .then(response => {
            //         if (response.ok) {
            //             const dataTypeSelects = document.querySelectorAll('[name="data_type"]');
            //             dataTypeSelects.forEach(select => {
            //                 const option = document.createElement('option');
            //                 option.value = newDataType;
            //                 option.textContent = newDataType;
            //                 option.selected = true;
            //                 select.insertBefore(option, select.querySelector('option[value="new"]'));
            //             });

            //             fetchTypes();
            //         } else {
            //             alert('Failed to add new type');
            //         }
            //     });
            // }
        }

        // 新增value type
        function addValueType(selectElement) {
            if (selectElement) {
                const valueType = prompt('请输入新的subtype:');
                if (valueType) {
                    fetch('/value_type', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ value_type: valueType })
                    })
                    .then(response => {
                        if (response.ok) {
                            const option = document.createElement('option');
                            option.value = valueType;
                            option.textContent = valueType;
                            option.selected = true;
                            selectElement.insertBefore(option, selectElement.querySelector('option[value="new"]'));
                            fetchValueTypes();
                        } else {
                            alert('Failed to add new value type');
                        }
                    });
                }
            } else {
                const valueType = prompt('请输入新的subtype:');
                if (valueType) {
                    fetch('/value_type', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ value_type: valueType })
                    })
                    .then(response => {
                        if (response.ok) {
                            const valueTypeSelects = document.querySelectorAll('[name="value_type"]');
                            valueTypeSelects.forEach(select => {
                                const option = document.createElement('option');
                                option.value = valueType;
                                option.textContent = valueType;
                                // option.selected = true;
                                select.insertBefore(option, select.querySelector('option[value="new"]'));
                            });

                            fetchTypes();
                        } else {
                            alert('Failed to add new value type');
                        }
                    });
                }
            }
        }

        function removeMessageBody(button) {
            // 如果message_name存在，则调用删除body接口
            message_name = button.getAttribute('message-name');
            key = button.getAttribute('key');
            if (message_name) {
                fetch(`/message_body/${message_name}/${key}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        const messageBody = button.closest('.message-body, .complex-message-body');
                        messageBody.remove();
                    } else {
                        console.error('Failed to delete message body');
                    }
                })
                .catch(error => {
                    console.error('Error deleting message body:', error);
                });
            } else {
                const messageBody = button.closest('.message-body, .complex-message-body');
                messageBody.remove();
            }
        }

        function exportCode() {
            fetch('/generate_code')
                .then(response => response.json())
                .then(codeList => {
                    const blob = new Blob([codeList.join('\n')], { type: 'text/plain' });
                    const url = URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'generated_code.c';
                    a.click();
                    URL.revokeObjectURL(url);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        // 删除选项
        function deleteOption(value) {
            // 调用接口删除对应的值
            fetch(`/value_type/${value}`, { method: 'DELETE' })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // 从选项数组中删除
                        const index = options.findIndex(option => option.value === value);
                        if (index !== -1) {
                            options.splice(index, 1);
                            fetchValueTypes(); // 重新获取数据类型选项
                        }
                    } else {
                        console.error('删除失败:', data.message);
                    }
                })
                .catch(error => {
                    console.error('删除请求失败:', error);
                });
        }

        function deleteDataType(dataType) {
            fetch(`/data_type/${dataType}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    fetchTypes()
                } else {
                    alert('Failed to delete data type');
                }
            });
        }

        function deleteValueType(valueType) {
            fetch(`/value_type/${valueType}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    fetchTypes();
                } else {
                    alert('Failed to delete value type');
                }
            });
        }


        function fetchTypes() {
            fetch('/data_types')
                .then(response => response.json())
                .then(dataTypes => {
                    const dataTypeList = document.getElementById('data-type-list');
                    dataTypeList.innerHTML = '';
                    dataTypes.forEach(type => {
                        const li = document.createElement('li');
                        li.textContent = type;
                        const deleteButton = document.createElement('button');
                        deleteButton.textContent = '删除';
                        deleteButton.onclick = () => deleteDataType(type);
                        li.appendChild(deleteButton);
                        dataTypeList.appendChild(li);
                    });
                });

            fetch('/value_types')
                .then(response => response.json())
                .then(valueTypes => {
                    const valueTypeList = document.getElementById('value-type-list');
                    valueTypeList.innerHTML = '';
                    valueTypes.forEach(type => {
                        const li = document.createElement('li');
                        li.textContent = type;
                        const deleteButton = document.createElement('button');
                        deleteButton.textContent = '删除';
                        deleteButton.onclick = () => deleteValueType(type);
                        li.appendChild(deleteButton);
                        valueTypeList.appendChild(li);
                    });
                });
        }

        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('default-tab').click();
            document.querySelectorAll('.value-type').forEach(select => select.addEventListener('change', handleValueTypeChange));
            document.querySelectorAll('.complex-value-type').forEach(select => select.addEventListener('change', handleComplexValueTypeChange));
            fetchMessages(); // 初始化时获取消息列表
            fetchDataTypeOptions(); // 初始化时获取数据类型选项
            fetchValueTypes();
        });
    </script>
</head>
<body>
    <header>
        <div class="container">
            <h1>Message Management</h1>
        </div>
    </header>
    <div class="container main">
        <div class="tabs">
            <div class="tab" id="default-tab" onclick="switchTab(event, 'simple-message-tab')">简单消息类型</div>
            <div class="tab" onclick="switchTab(event, 'complex-message-tab')">复杂消息类型</div>
            <div class="tab" onclick="switchTab(event, 'message-list-tab')">消息列表</div>
            <div class="tab" onclick="switchTab(event, 'type-list-tab')">类型管理</div>
        </div>
        <div id="simple-message-tab" class="tab-content">
            <h1>Messages</h1>
            <h2>Add New Message</h2>
            <form id="message-form" onsubmit="addMessage(event)">
                <div class="form-row">
                    <div class="form-group">
                        <label for="message_name">Message Name</label>
                        <input type="text" id="message_name" name="message_name" required>
                    </div>
                    <div class="form-group">
                        <label for="message_id">Message ID</label>
                        <input type="text" id="message_id" name="message_id" required>
                    </div>
                    <div class="form-group">
                        <label for="message_size">Send Size</label>
                        <input type="text" id="message_size" name="message_size" required>
                    </div>
                    <div class="form-group">
                        <label for="message_type">Message Type</label>
                        <select id="message_type" name="message_type" required>
                            <option value="simple">简单类型</option>
                        </select>
                    </div>
                </div>
                <div id="message-bodies">
                    <!-- <div class="message-body">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="key">Key</label>
                                <input type="text" name="key" required>
                            </div>
                            <div class="form-group">
                                <label for="data_size">length</label>
                                <select name="data_size" required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4" selected>4</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="data_type">type</label>
                                <select name="data_type" required>
                                </select>
                            </div>
                            <div class="form-group" id="value-type-container">
                                <label for="value_type">subtype</label>
                                <select name="value_type" class="value-type" required>
                                </select>
                            </div>
                            <div class="form-group min-field">
                                <label for="min">Min</label>
                                <input type="number" name="min">
                            </div>
                            <div class="form-group max-field">
                                <label for="max">Max</label>
                                <input type="number" name="max">
                            </div>
                            <div class="form-group value-field" style="display: none;">
                                <label for="value">Value</label>
                                <input type="" name="value">
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="form-group">
                    <button type="button" onclick="addSimpleMessageBody()">Add Message Body</button>
                </div>
                <div class="form-group">
                    <button type="submit">Add Message</button>
                </div>
            </form>
        </div>
        
        <div id="complex-message-tab" class="tab-content">
            <h1>Messages</h1>
            <h2>Add New Message</h2>
            <form id="message-form" onsubmit="addComplexMessage(event)">
                <div class="form-row">
                    <div class="form-group">
                        <label for="message_name">Message Name</label>
                        <input type="text" id="message_name" name="message_name" required>
                    </div>
                    <div class="form-group">
                        <label for="message_id">Message ID</label>
                        <input type="text" id="message_id" name="message_id" required>
                    </div>
                    <div class="form-group">
                        <label for="message_size">Send Size</label>
                        <input type="text" id="message_size" name="message_size" required>
                    </div>
                    <div class="form-group">
                        <label for="message_type">Message Type</label>
                        <select id="message_type" name="message_type" required>
                            <option value="complex">复杂类型</option>
                        </select>
                    </div>
                </div>
                <div id="complex-message-bodies">
                    <div class="complex-message-body">
                        <div class="form-row" id="descriptor-form-row"></div>
                        <button type="button" id="add-dropdown-btn" onclick="addDropdown()">新增descriptor</button>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="key">Key</label>
                                <input type="text" name="key" required>
                            </div>
                            <div class="form-group">
                                <label for="data_size">length</label>
                                <select name="data_size" required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4" selected>4</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="data_type">type</label>
                                <select name="data_type" required>
                                </select>
                            </div>
                            <div class="form-group" id="value-type-container">
                                <label for="value_type">subtype</label>
                                <select name="value_type" class="complex-value-type" required>
                                </select>
                            </div>
                            <div class="form-group min-field">
                                <label for="min">Min</label>
                                <input type="number" name="min">
                            </div>
                            <div class="form-group max-field">
                                <label for="max">Max</label>
                                <input type="number" name="max">
                            </div>
                            <div class="form-group value-field" style="display: none;">
                                <label for="value">Value</label>
                                <input type="" name="value">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" onclick="addComplexMessageBody()">Add Message Body</button>
                </div>
                <div class="form-group">
                    <button type="submit">Add Message</button>
                </div>
            </form>
        </div>
        <div id="message-list-tab" class="tab-content">
            <h2>Message List</h2>
            <button id="export-button" onclick="exportCode()">导出代码</button>
            <ul id="message-list"></ul>
        </div>
        <div id="type-list-tab" class="tab-content">
            <h2>Types</h2>
            <ul id="data-type-list"></ul>
            <button onclick="addDataType()">新增 Type</button>
    
            <h2>SubTypes</h2>
            <ul id="value-type-list"></ul>
            <button onclick="addValueType()">新增 SubType</button>
        </div>
    
    </div>

    <!-- 模板 -->
    <template id="message-body-template">
        <div class="message-body">
            <div class="form-row">
                <div class="form-group">
                    <label for="key">Key</label>
                    <input type="text" name="key" required>
                </div>
                <div class="form-group">
                    <label for="data_size">length</label>
                    <select name="data_size" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4" selected>4</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data_type">type</label>
                    <select name="data_type" required>
                    </select>
                </div>
                <div class="form-group" id="value-type-container">
                    <label for="value_type">subtype</label>
                    <select name="value_type" class="value-type" required>
                    </select>
                </div>
                <div class="form-group min-field">
                    <label for="min">Min</label>
                    <input type="number" name="min">
                </div>
                <div class="form-group max-field">
                    <label for="max">Max</label>
                    <input type="number" name="max">
                </div>
                <div class="form-group value-field" style="display: none;">
                    <label for="value">Value</label>
                    <input type="" name="value">
                </div>
                <div class="form-group">
                    <button type="button" onclick="removeMessageBody(this)" message-name="" key="">删除</button>
                </div>
            </div>
        </div>
    </template>
    <template id="complex-message-body-template">
        <div class="complex-message-body">
            <div class="form-row">
                <div class="form-group">
                    <label for="key">Key</label>
                    <input type="text" name="key" required>
                </div>
                <div class="form-group">
                    <label for="data_size">length</label>
                    <select name="data_size" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4" selected>4</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data_type">type</label>
                    <select name="data_type" required>
                    </select>
                </div>
                <div class="form-group" id="value-type-container">
                    <label for="value_type">subtype</label>
                    <select name="value_type" class="value-type" required>
                    </select>
                </div>
                <div class="form-group min-field">
                    <label for="min">Min</label>
                    <input type="number" name="min">
                </div>
                <div class="form-group max-field">
                    <label for="max">Max</label>
                    <input type="number" name="max">
                </div>
                <div class="form-group value-field" style="display: none;">
                    <label for="value">Value</label>
                    <input type="" name="value">
                </div>
                <div class="form-group">
                    <button type="button" onclick="removeMessageBody(this)" message-name="" key="">删除</button>
                </div>
            </div>
        </div>
    </template>
</body>
</html>