<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Management</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
        }
        header {
            background: #333;
            color: #fff;
            padding-top: 30px;
            min-height: 70px;
            border-bottom: #77aaff 3px solid;
        }
        header a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
        }
        header ul {
            padding: 0;
            list-style: none;
        }
        .main {
            padding: 20px;
            background: #fff;
            margin-top: 20px;
        }
        .main h1 {
            text-align: center;
        }
        .main ul {
            list-style: none;
            padding: 0;
        }
        .main li {
            background: #f4f4f4;
            margin: 5px 0;
            padding: 10px;
            border: #ccc 1px solid;
            word-wrap: break-word; /* 自动换行 */
        }
        .form-group {
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        .form-group label {
            margin-bottom: 5px;
        }
        .form-group input, .form-group select {
            padding: 8px;
            box-sizing: border-box;
        }
        .form-group button {
            padding: 10px 15px;
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        .form-row {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
        .tabs {
            display: flex;
            cursor: pointer;
            margin-bottom: 20px;
        }
        .tab {
            padding: 10px 20px;
            background: #f4f4f4;
            border: 1px solid #ccc;
            border-bottom: none;
            transition: background 0.3s;
        }
        .tab:hover {
            background: #ddd;
        }
        .tab.active {
            background: #fff;
            border-bottom: 1px solid #fff;
        }
        .tab-content {
            display: none;
        }
        .tab-content.active {
            display: block;
        }
    </style>
    <script>
        function addDropdown() {
            const addDropdownBtn = document.getElementById('add-dropdown-btn');
            const newDropdown = document.createElement('select');
            newDropdown.name = 'descriptor';
            newDropdown.className = 'descriptor';
            newDropdown.required = true;
            newDropdown.innerHTML = `
                <option value="port">port</option>
                <option value="ool">ool</option>
            `;
            addDropdownBtn.parentNode.insertBefore(newDropdown, addDropdownBtn);
}
        function switchTab(event, tabId) {
            const tabs = document.querySelectorAll('.tab');
            const tabContents = document.querySelectorAll('.tab-content');

            tabs.forEach(tab => tab.classList.remove('active'));
            tabContents.forEach(content => content.classList.remove('active'));

            event.currentTarget.classList.add('active');
            document.getElementById(tabId).classList.add('active');

            if (tabId === 'message-list-tab') {
                fetchMessages();
            }
        }

        function handleDataTypeChange(evnet){
            data_type = event.target.value;
            if (data_type === 'new'){
                addDataType();
            }
        }

        function handleComplexValueTypeChange(event) {
            const valueType = event.target.value;
            const minField = event.target.closest('.complex-message-body').querySelector('.min-field');
            const maxField = event.target.closest('.complex-message-body').querySelector('.max-field');
            const valueField = event.target.closest('.complex-message-body').querySelector('.value-field');

            if (valueType === 'range') {
                minField.style.display = 'block';
                maxField.style.display = 'block';
                valueField.style.display = 'none';
            } else if (valueType === 'fix') {
                minField.style.display = 'none';
                maxField.style.display = 'none';
                valueField.style.display = 'block';
            } else if (valueType === 'new') {
                addDataType();
            } else {
                minField.style.display = 'none';
                maxField.style.display = 'none';
                valueField.style.display = 'block';
            }
        }

        function handleValueTypeChange(event) {
            const valueType = event.target.value;
            const minField = event.target.closest('.message-body').querySelector('.min-field');
            const maxField = event.target.closest('.message-body').querySelector('.max-field');
            const valueField = event.target.closest('.message-body').querySelector('.value-field');

            if (valueType === 'range') {
                minField.style.display = 'block';
                maxField.style.display = 'block';
                valueField.style.display = 'none';
            } else if (valueType === 'fix') {
                minField.style.display = 'none';
                maxField.style.display = 'none';
                valueField.style.display = 'block';
            } else if (valueType === 'new') {
                addValueType();
            } else {
                minField.style.display = 'none';
                maxField.style.display = 'none';
                valueField.style.display = 'block';
            }
        }

        function fetchDataTypeOptions() {
            fetch('/data_types')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const dataTypeSelects = document.getElementsByName("data_type");
        
                    dataTypeSelects.forEach(dataTypeSelect => {
                        dataTypeSelect.innerHTML = ''; // 清空现有选项
        
                        data.forEach(type => {
                            const option = document.createElement('option');
                            option.value = type;
                            option.textContent = type;
                            dataTypeSelect.appendChild(option);
                        });

                        const newOption = document.createElement('option');
                        newOption.value = 'new';
                        newOption.textContent = '新建';
                        dataTypeSelect.appendChild(newOption);

                        // 设置默认选项
                        if (data.length > 0) {
                            dataTypeSelect.value = data[0]; // 设置第一个选项为默认选项
                        }

                        // 增加change事件监听
                        dataTypeSelect.addEventListener('change', handleDataTypeChange);
                    });
                })
                .catch(error => {
                    console.error('Error fetching data types:', error);
                });
        }

        function fetchMessages() {
            fetch('/messages')
        .then(response => response.json())
        .then(messages => {
            const messageList = document.getElementById('message-list');
            messageList.innerHTML = '';
            messages.forEach(message => {
                const messageContainer = document.createElement('div');
                messageContainer.classList.add('message-container');

                const messageHeader = document.createElement('h3');
                messageHeader.textContent = `Message Name: ${message.message_name}, Message ID: ${message.message_id} Type: ${message.message_type}`;
                messageContainer.appendChild(messageHeader);

                const deleteButton = document.createElement('button');
                deleteButton.textContent = '删除';
                deleteButton.onclick = () => {
                    deleteMessage(message.message_name, messageContainer);
                }
                messageContainer.appendChild(deleteButton);

                message.bodies.forEach(body => {
                    const messageBodyTemplate = document.getElementById('message-body-template');
                    const newMessageBody = messageBodyTemplate.content.cloneNode(true);


                    newMessageBody.querySelector('[name="key"]').value = body.key;
                    // newMessageBody.querySelector('[name="data_type"]').value = body.data_type;

                    const dataTypeSelect = newMessageBody.querySelector('[name="data_type"]');
                    const newOption = document.createElement('option');
                    newOption.value = body.data_type;
                    newOption.textContent = body.data_type;
                    dataTypeSelect.appendChild(newOption);

                    const valueTypeSelect = newMessageBody.querySelector('[name="value_type"]');
                    const newOption1 = document.createElement('option');
                    newOption1.value = body.value_type;
                    newOption1.textContent = body.value_type;
                    valueTypeSelect.innerHTML = ''
                    valueTypeSelect.appendChild(newOption1);

                    const minField = newMessageBody.querySelector('.min-field');
                    const maxField = newMessageBody.querySelector('.max-field');
                    const valueField = newMessageBody.querySelector('.value-field');

                    if (body.value_type === 'range') {
                        minField.style.display = 'block';
                        maxField.style.display = 'block';
                        valueField.style.display = 'none';
                        newMessageBody.querySelector('[name="min"]').value = body.min || '';
                        newMessageBody.querySelector('[name="max"]').value = body.max || '';
                    } else {
                        minField.style.display = 'none';
                        maxField.style.display = 'none';
                        valueField.style.display = 'block';
                        newMessageBody.querySelector('[name="value"]').value = body.value || '';
                    }

                    if (body.descriptor) {
                        const descriptorContainer = document.createElement('div');
                        descriptorContainer.className = 'form-row';

                        body.descriptor.forEach(descriptor => {
                            const newDropdownContainer = document.createElement('div');
                            newDropdownContainer.className = 'form-group';

                            const newDropdown = document.createElement('select');
                            newDropdown.name = 'descriptor';
                            newDropdown.className = 'descriptor';
                            newDropdown.required = true;
                            newDropdown.innerHTML = `
                                <option value="${descriptor}">${descriptor}</option>
                            `;

                            newDropdownContainer.appendChild(newDropdown);
                            descriptorContainer.appendChild(newDropdownContainer);
                        });

                        messageContainer.appendChild(descriptorContainer);
                    }

                    // 设置button的value， 点击的时候传输
                    newMessageBody.querySelector('.form-group button').setAttribute('message-name', message.message_name);
                    newMessageBody.querySelector('.form-group button').setAttribute('key', body.key);

                    messageContainer.appendChild(newMessageBody);
                });

                messageList.appendChild(messageContainer);
            });
        });
        }


        function deleteMessage(id, messageContainer) {
            fetch(`/message/${id}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    messageContainer.remove();
                } else {
                    console.error('Failed to delete message');
                }
            })
            .catch(error => {
                console.error('Error deleting message:', error);
            });
        }

        function addMessage(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());
            data.message_bodies = [];  // 初始化消息体数组

            const messageBodies = document.querySelectorAll('.message-body');
            messageBodies.forEach(body => {
                const bodyData = {
                    key: body.querySelector('[name="key"]').value,
                    data_type: body.querySelector('[name="data_type"]').value,
                    min: body.querySelector('[name="min"]').value,
                    max: body.querySelector('[name="max"]').value,
                    value: body.querySelector('[name="value"]').value,
                    value_type: body.querySelector('[name="value_type"]').value
                };
                data.message_bodies.push(bodyData);
            });

            fetch('/message', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(message => {
                const messageList = document.getElementById('message-list');
                const listItem = document.createElement('li');
                listItem.textContent = JSON.stringify(message);
                messageList.appendChild(listItem);
                event.target.reset();
                document.querySelectorAll('.value-type').forEach(select => handleValueTypeChange({ target: select })); // 重置表单时调用一次
            });
        }

        function addComplexMessage(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());
            data.message_bodies = [];  // 初始化消息体数组


            const dropdowns = document.querySelectorAll('select.descriptor');
            const values = [];
            dropdowns.forEach(dropdown => {
                values.push(dropdown.value);
            });

            const messageBodies = document.querySelectorAll('.complex-message-body');
            messageBodies.forEach(body => {
                const bodyData = {
                    key: body.querySelector('[name="key"]').value,
                    data_type: body.querySelector('[name="data_type"]').value,
                    min: body.querySelector('[name="min"]').value,
                    max: body.querySelector('[name="max"]').value,
                    value: body.querySelector('[name="value"]').value,
                    value_type: body.querySelector('[name="value_type"]').value,
                    descriptor: values
                };
                data.message_bodies.push(bodyData);
            });

            fetch('/message', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(message => {
                const messageList = document.getElementById('message-list');
                const listItem = document.createElement('li');
                listItem.textContent = JSON.stringify(message);
                messageList.appendChild(listItem);
                event.target.reset();
                document.querySelectorAll('.complex-value-type').forEach(select => handleComplexValueTypeChange({ target: select })); // 重置表单时调用一次
            });
        }

        function addComplexMessageBody() {
            const messageBodyTemplate = document.getElementById('complex-message-body-template');
            const newMessageBody = messageBodyTemplate.content.cloneNode(true);
            document.getElementById('complex-message-bodies').appendChild(newMessageBody);
            document.querySelectorAll('.complex-message-body .value-type').forEach(select => select.addEventListener('change', handleComplexValueTypeChange));
            fetchDataTypeOptions(); // 添加新的消息体时重新获取数据类型选项
        }

        function addSimpleMessageBody() {
            const messageBodyTemplate = document.getElementById('message-body-template');
            const newMessageBody = messageBodyTemplate.content.cloneNode(true);
            document.getElementById('message-bodies').appendChild(newMessageBody);
            document.querySelectorAll('.message-body .value-type').forEach(select => select.addEventListener('change', handleValueTypeChange));
            fetchDataTypeOptions(); // 添加新的消息体时重新获取数据类型选项
        }

        function addDataType() {
            const newDataType = prompt('请输入新的Data Type:');
            if (newDataType) {
                fetch('/data_type', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ data_type: newDataType })
                })
                .then(response => {
                    if (response.ok) {
                        const dataTypeSelects = document.querySelectorAll('[name="data_type"]');
                        dataTypeSelects.forEach(select => {
                            const option = document.createElement('option');
                            option.value = newDataType;
                            option.textContent = newDataType;
                            select.insertBefore(option, select.querySelector('option[value="new"]'));
                        });
                    } else {
                        alert('Failed to add new data type');
                    }
                });
            }
        }

        function addValueType() {
            const newValueType = prompt('请输入新的Value Type:');
            if (newValueType) {
                fetch('/data_type', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ data_type: newValueType })
                })
                .then(response => {
                    if (response.ok) {
                        const valueTypeSelects = document.querySelectorAll('.value-type');
                        valueTypeSelects.forEach(select => {
                            const option = document.createElement('option');
                            option.value = newValueType;
                            option.textContent = newValueType;
                            select.insertBefore(option, select.querySelector('option[value="new"]'));
                        });
                    } else {
                        alert('Failed to add new value type');
                    }
                });
            }
        }

        function removeMessageBody(button) {
            // 如果message_name存在，则调用删除body接口
            message_name = button.getAttribute('message-name');
            key = button.getAttribute('key');
            if (message_name) {
                fetch(`/message_body/${message_name}/${key}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        const messageBody = button.closest('.message-body, .complex-message-body');
                        messageBody.remove();
                    } else {
                        console.error('Failed to delete message body');
                    }
                })
                .catch(error => {
                    console.error('Error deleting message body:', error);
                });
            } else {
                const messageBody = button.closest('.message-body, .complex-message-body');
                messageBody.remove();
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('default-tab').click();
            document.querySelectorAll('.value-type').forEach(select => select.addEventListener('change', handleValueTypeChange));
            document.querySelectorAll('.complex-value-type').forEach(select => select.addEventListener('change', handleComplexValueTypeChange));
            fetchMessages(); // 初始化时获取消息列表
            fetchDataTypeOptions(); // 初始化时获取数据类型选项
        });
    </script>
</head>
<body>
    <header>
        <div class="container">
            <h1>Message Management</h1>
        </div>
    </header>
    <div class="container main">
        <div class="tabs">
            <div class="tab" id="default-tab" onclick="switchTab(event, 'simple-message-tab')">简单消息类型</div>
            <div class="tab" onclick="switchTab(event, 'complex-message-tab')">复杂消息类型</div>
            <div class="tab" onclick="switchTab(event, 'message-list-tab')">消息列表</div>
        </div>
        <div id="simple-message-tab" class="tab-content">
            <h1>Messages</h1>
            <h2>Add New Message</h2>
            <form id="message-form" onsubmit="addMessage(event)">
                <div class="form-row">
                    <div class="form-group">
                        <label for="message_name">Message Name</label>
                        <input type="text" id="message_name" name="message_name" required>
                    </div>
                    <div class="form-group">
                        <label for="message_id">Message ID</label>
                        <input type="text" id="message_id" name="message_id" required>
                    </div>
                    <div class="form-group">
                        <label for="message_type">Message Type</label>
                        <select id="message_type" name="message_type" required>
                            <option value="simple">简单类型</option>
                        </select>
                    </div>
                </div>
                <div id="message-bodies">
                    <div class="message-body">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="key">Key</label>
                                <input type="text" name="key" required>
                            </div>
                            <div class="form-group">
                                <label for="data_size">Data Size</label>
                                <select name="data_size" required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4" selected>4</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="data_type">Data Type</label>
                                <select name="data_type" required>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="value_type">Value Type</label>
                                <select name="value_type" class="value-type" required>
                                    <option value="range">Range</option>
                                    <option value="fix">Fix</option>
                                    <option value="new">新建</option>
                                </select>
                            </div>
                            <div class="form-group min-field">
                                <label for="min">Min</label>
                                <input type="number" name="min">
                            </div>
                            <div class="form-group max-field">
                                <label for="max">Max</label>
                                <input type="number" name="max">
                            </div>
                            <div class="form-group value-field" style="display: none;">
                                <label for="value">Value</label>
                                <input type="" name="value">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" onclick="addSimpleMessageBody()">Add Message Body</button>
                </div>
                <div class="form-group">
                    <button type="submit">Add Message</button>
                </div>
            </form>
        </div>
        
        <div id="complex-message-tab" class="tab-content">
            <h1>Messages</h1>
            <h2>Add New Message</h2>
            <form id="message-form" onsubmit="addComplexMessage(event)">
                <div class="form-row">
                    <div class="form-group">
                        <label for="message_name">Message Name</label>
                        <input type="text" id="message_name" name="message_name" required>
                    </div>
                    <div class="form-group">
                        <label for="message_id">Message ID</label>
                        <input type="text" id="message_id" name="message_id" required>
                    </div>
                    <div class="form-group">
                        <label for="message_type">Message Type</label>
                        <select id="message_type" name="message_type" required>
                            <option value="complex">复杂类型</option>
                        </select>
                    </div>
                </div>
                <div id="complex-message-bodies">
                    <div class="complex-message-body">
                        <button type="button" id="add-dropdown-btn" onclick="addDropdown()">新增descriptor</button>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="key">Key</label>
                                <input type="text" name="key" required>
                            </div>
                            <div class="form-group">
                                <label for="data_size">Data Size</label>
                                <select name="data_size" required>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="4" selected>4</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="data_type">Data Type</label>
                                <select name="data_type" required>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="value_type">Value Type</label>
                                <select name="value_type" class="complex-value-type" required>
                                    <option value="range">Range</option>
                                    <option value="fix">Fix</option>
                                    <option value="new">新建</option>
                                </select>
                            </div>
                            <div class="form-group min-field">
                                <label for="min">Min</label>
                                <input type="number" name="min">
                            </div>
                            <div class="form-group max-field">
                                <label for="max">Max</label>
                                <input type="number" name="max">
                            </div>
                            <div class="form-group value-field" style="display: none;">
                                <label for="value">Value</label>
                                <input type="" name="value">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" onclick="addComplexMessageBody()">Add Message Body</button>
                </div>
                <div class="form-group">
                    <button type="submit">Add Message</button>
                </div>
            </form>
        </div>
        <div id="message-list-tab" class="tab-content">
            <h2>Message List</h2>
            <ul id="message-list"></ul>
        </div>
    </div>

    <!-- 模板 -->
    <template id="message-body-template">
        <div class="message-body">
            <div class="form-row">
                <div class="form-group">
                    <label for="key">Key</label>
                    <input type="text" name="key" required>
                </div>
                <div class="form-group">
                    <label for="data_size">Data Size</label>
                    <select name="data_size" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4" selected>4</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data_type">Data Type</label>
                    <select name="data_type" required>
                    </select>
                </div>
                <div class="form-group">
                    <label for="value_type">Value Type</label>
                    <select name="value_type" class="value-type" required>
                        <option value="range">Range</option>
                        <option value="fix">Fix</option>
                        <option value="new">新建</option>
                    </select>
                </div>
                <div class="form-group min-field">
                    <label for="min">Min</label>
                    <input type="number" name="min">
                </div>
                <div class="form-group max-field">
                    <label for="max">Max</label>
                    <input type="number" name="max">
                </div>
                <div class="form-group value-field" style="display: none;">
                    <label for="value">Value</label>
                    <input type="" name="value">
                </div>
                <div class="form-group">
                    <button type="button" onclick="removeMessageBody(this)" message-name="" key="">删除</button>
                </div>
            </div>
        </div>
    </template>
    <template id="complex-message-body-template">
        <div class="complex-message-body">
            <div class="form-row">
                <div class="form-group">
                    <label for="key">Key</label>
                    <input type="text" name="key" required>
                </div>
                <div class="form-group">
                    <label for="data_size">Data Size</label>
                    <select name="data_size" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4" selected>4</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="data_type">Data Type</label>
                    <select name="data_type" required>
                    </select>
                </div>
                <div class="form-group">
                    <label for="value_type">Value Type</label>
                    <select name="value_type" class="value-type" required>
                        <option value="range">Range</option>
                        <option value="fix">Fix</option>
                        <option value="new">新建</option>
                    </select>
                </div>
                <div class="form-group min-field">
                    <label for="min">Min</label>
                    <input type="number" name="min">
                </div>
                <div class="form-group max-field">
                    <label for="max">Max</label>
                    <input type="number" name="max">
                </div>
                <div class="form-group value-field" style="display: none;">
                    <label for="value">Value</label>
                    <input type="" name="value">
                </div>
                <div class="form-group">
                    <button type="button" onclick="removeMessageBody(this)" message-name="" key="">删除</button>
                </div>
            </div>
        </div>
    </template>
</body>
</html>